<section id="experience" class="section">
    <header class="section-title" data-aos="fade-up" data-aos-delay="400">{{'experience' | translate}}</header>
    <div class="timeline" data-aos="fade-up" data-aos-delay="800">
        <ul>
            @for(item of experience; track $index) {
            <li class="date">
                <div data-aos="fade-left" data-aos-easing="ease" data-aos-delay="1200">
                    {{item.endDate | date: "dd MMM yyyy"}}
                </div>
            </li>
            <li class="card">
                <div data-aos="fade-left" data-aos-delay="1600">
                    <app-experience-card [experience]="item" />
                </div>
            </li>
            <li *ngIf="separatedExperience($index)" class="date">
                <div data-aos="fade-left" data-aos-easing="ease" data-aos-delay="1200">
                    {{item.startDate | date: "dd MMM yyyy"}}
                </div>
            </li>
            }
        </ul>
    </div>
</section>