#experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
}

.item {
    // max-width: 400px;´
    border: 2px solid;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid;

        &>div {
            flex: 1;
        }
    }

    main {
        margin: 1rem;
    }
}

.company {
    font-size: 2rem;
    font-weight: 700;
}

.position {
    font-size: 1.5rem;
    opacity: 0.5;
    font-weight: 500;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 10px;
    }
}

img {
    width: 100%;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.timeline {
    position: relative;
    z-index: 1;
    overflow-x: hidden;

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        left: 20px;
        width: 2px;
        background:  var(--main-color);
        z-index: 1;
    }

    ul {
        list-style-type: none;
        padding-left: 40px;
        padding-right: 40px;
    }

    li {
        position: relative;
        z-index: 2;

        &>* {
            margin-bottom: 1rem;
        }
    }

    .date>div {
        font-size: 1.5rem;

        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: var(--main-color);
            border-radius: 50%;
            // box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2);
            left: -1.5rem;
            top: 0.6rem;
            z-index: 2;
        }

        h3 {
            margin: 0.5em;
        }
    }

    .date:last-child>div {
        margin-bottom: 0;
    }

    .card>div {
        margin-left: 1rem;
        // max-width: 600px;
    }    

}