<footer id="contact" class="section">
    <header class="section-title" data-aos="fade-up">{{'contact' | translate}}</header>
    <div class="card-subtitle">
        <div data-aos="fade-up" data-aos-delay="400">{{'footer-interested' | translate}}</div>
        <div data-aos="fade-up"  data-aos-delay="800">{{'footer-send-email' | translate}}</div>
    </div>
    <a class="contact-link underline" data-aos="fade-up"  data-aos-delay="1200" [href]="'mailto:' + email">{{email}}</a>
    <app-link-list [links]="links"/>
</footer>