#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: italic;
    font-size: 4rem;
    font-weight: 900;
}

.sub-title {
    opacity: 0.5;
    font-size: 1.5rem;
    text-align: center;
}

.contact-link {
    margin: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
    color: var(--main-color);
}

a.underline {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    text-decoration: none;
}

a.underline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: var(--main-color);
    transition: left .5s;
}

a.underline:hover:after {
    left: 0;
}

@media screen and (min-width: 578px) {

    .links a,
    .role {
        font-size: 2rem;
    }

    .title {
        font-size: 6rem;
    }

    .sub-title,
    .contact-link {
        font-size: 2rem;
    }
}