.main-footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-style: italic;
    font-size: 5rem;
    font-weight: 900;
}

.sub-title {
    opacity: 0.5;
    font-size: 1.5rem;
    text-align: center;
}

.contact-link {
    margin: 1rem;
    font-size: 2rem;
    font-style: italic;
    text-decoration: none;
    color: var(--mat-sys-on-background, #e3e2e6);
}

.social {

    a {
        color: var(--mat-sys-on-background, #e3e2e6);
        font-size: 2rem;
        padding: 1rem;
    }

    i {
        transition: transform .5s;
    }

    i:hover {
        transform: scale(2);
    }
}

a.underline {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    text-decoration: none;
}

a.underline:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: var(--mat-sys-on-background, #e3e2e6);
    transition: left .5s;
}

a.underline:hover:after {
    left: 0;
}