<footer id="contact" class="section">
    <header class="section-title" data-aos="fade-up">{{'contact' | translate}}</header>
    <div class="card-subtitle">
        <div data-aos="fade-up" data-aos-delay="200">{{'f-interested' | translate}}</div>
        <div data-aos="fade-up" data-aos-delay="400">{{'f-send-email' | translate}}</div>
    </div>
    <a class="contact-link underline" data-aos="fade-up" data-aos-delay="600" [href]="'mailto:' + email"
        [attr.aria-label]="('f-mail' | translate) + email">
        {{email}}
    </a>
    <app-link-list [links]="links" />
</footer>