<div class="item">
    <header>
        <a [href]="experience.company.url" target="_blank" rel="noopener noreferrer"
            [attr.aria-label]="('e-s-visit' | translate) + experience.company.name">
            <img [src]="experience.company.logo" [alt]="experience.company.name" />
        </a>
        <div>
            <div class="card-title">{{experience.company.name | uppercase}}</div>
            <div class="card-subtitle">{{experience.position | titlecase}}</div>
        </div>
    </header>
    <main>
        <p>{{ experience.description | translate }}</p>
    </main>
    <footer>
        <app-technology-list [technologies]="experience.technologies" />
    </footer>
</div>