<header mat-dialog-title class="card-header">
    <div class="card-title">
        {{data.title | uppercase}}
    </div>
    <button class="icon-button" (click)="close()" [attr.aria-label]="'i-d-close' | translate">
        <i class="fa-solid fa-close icon-hover"></i>
    </button>
</header>
<mat-dialog-content class="main-image">
    <button class="move icon-button" (click)="previous()" [attr.aria-label]="'g-previous' | translate">
        <i class="fa-solid fa-chevron-left icon-hover"></i>
    </button>
    <img [src]="mainImage.url" [attr.arial-label]="mainImage.name | translate">
    <button class="move icon-button" (click)="next()" [attr.aria-label]="'g-next' | translate">
        <i class="fa-solid fa-chevron-right icon-hover"></i>
    </button>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <mat-grid-list [cols]="secondaryImages.length" rowHeight="1:1" gutterSize="1rem">
        <mat-grid-tile *ngFor="let image of secondaryImages; let i = index">
            <img class="secondary" [src]="image.url" (click)="show(i + 1)" [attr.arial-label]="image.name | translate">
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-actions>