<mat-dialog-content class="main-image">
    <button class="close icon-button" (click)="close()">
        <i class="fa-solid fa-close icon-hover"></i>
    </button>
    <button class="move icon-button" (click)="moveLeft()">
        <i class="fa-solid fa-chevron-left icon-hover"></i>
    </button>
    <img [src]="images()[0]">
    <button class="move icon-button" (click)="moveRight()">
        <i class="fa-solid fa-chevron-right icon-hover"></i>
    </button>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <mat-grid-list [cols]="images().length - 1" rowHeight="1:1" gutterSize="1rem">
        <mat-grid-tile>
            <img class="secondary" [src]="images()[1]" (click)="show(1)">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="secondary" [src]="images()[2]" (click)="show(2)">
        </mat-grid-tile>
        <mat-grid-tile>
            <img class="secondary" [src]="images()[3]" (click)="show(3)">
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-actions>