.close {
    z-index: 1;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.main-image {
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid;

    &.secondary {
        cursor: pointer;
    }

}

.actions {
    display: block;
}

.move {
    left: 2rem;

    &:last-child {
        left: auto;
        right: 2rem;
    }
}