.close {
    z-index: 1;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.move {
    z-index: 1;
    position: absolute;
    opacity: 0.25;
    // 56 px = the size of the buttons
    top: calc(50% - 56px / 2);
    left: 1rem;

    &:last-child {
        left: auto;
        right: 1rem;
    }

}


img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}