<mat-grid-list class="gallery" [cols]="cols" rowHeight="1:1" gutterSize="1rem">
    <mat-grid-tile *ngFor="let image of images; let i = index" class="tile" [colspan]="tileSize(i)"
        [rowspan]="tileSize(i)">
        <button *ngIf="first(i)" class="move icon-button" (click)="previous()"
            [attr.aria-label]="'g-previous' | translate">
            <i class="fa-solid fa-chevron-left icon-hover"></i>
        </button>
        <img class="image" [src]="image.url" (click)="openImage(i)" [attr.arial-label]="image.name | translate">
        <button *ngIf="first(i)" class="move icon-button" (click)="next()" [attr.aria-label]="'g-next' | translate">
            <i class="fa-solid fa-chevron-right icon-hover"></i>
        </button>
    </mat-grid-tile>
</mat-grid-list>