<div class="project">
    <img class="screenshot" src="/assets/media/imgs/portfolio.png">
    <div class="info">
        <header class="card-title">{{project.name | uppercase}}</header>
        <main>
            <div class="description">{{project.description}}</div>
            <app-technology-list [technologies]="project.technologies" />
        </main>
        <footer>
            <div class="links">
                <a *ngIf="github" class="icon-link" [href]="github.url + '/' + project.name" target="_blank" rel="noopener noreferrer">
                    <i [class]="'fab fa-github'"></i>
                </a>
            </div>
        </footer>
    </div>
</div>