* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: var(--font-family);
    height: 100%;
    position: relative;
}

ul {
    list-style-type: none;
}

.icon-link {
    color: var(--main-color);
    font-size: 1.5rem;
    padding: 1rem;
    transition: transform .5s;
}

.icon-link:hover {
    transform: scale(2);

}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.section-title {
    font-style: italic;
    font-size: 3rem;
    font-weight: 900;
}

@media screen and (min-width: 578px) {
    .section-title {
        font-size: 4rem;
    }
}