// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use '../themes/_theme-colors.scss' as palettes;

html {
  @include mat.theme((color: (theme-type: dark,
        primary: palettes.$primary-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  @include mat.dialog-overrides((
    container-shape: rectangle,
    content-padding: 0,
    container-color: var(--background-color)
  ));


  .switch-nested-menu-arrows button[mat-menu-item].mat-menu-item-submenu-trigger::after {
    border-width: 5px 5px 5px 0;
    border-color: transparent currentColor transparent transparent;
    right: 0;
    left: 16px;
  }

}