:root {
    --background-color: #2E2E2E;
    --main-color: #F5F5F5;
    --secondary-color: #808080;
    --font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    --card-max-size: 600px;
    --timeline-side-padding: 40px;
    --border-width: 2px;
    
    --x-large-size: 3rem;
    --large-size: 2rem;
    --medium-size: 1.5rem;

    @media screen and (min-width: 578px) {
        --x-large-size: 4rem;
        --large-size: 3rem;
        --medium-size: 2rem;
    }

}